DATABASE_URL=postgresql://postgres:postgres@localhost:5435/cardapio_digital
REDIS_HOST=localhost
REDIS_PORT=6380
API_PORT=3001
API_PUBLIC_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000

# PagBank
PAGBANK_ENV=sandbox
PAGBANK_ACCESS_TOKEN=
PAGBANK_WEBHOOK_TOKEN=
PAGBANK_API_URL=
PAGBANK_SDK_URL=
PAGBANK_EVIDENCE_ENABLED=
PAGBANK_EVIDENCE_DIR=
PAGBANK_EVIDENCE_FILE=

# Frontend (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_PAGBANK_ENV=sandbox
NEXT_PUBLIC_PAGBANK_PUBLIC_KEY=
