DATABASE_URL=postgresql://postgres:postgres@localhost:5435/cardapio_digital
REDIS_HOST=localhost
REDIS_PORT=6380
API_PORT=3001
API_PUBLIC_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000

# Mercado Pago
MP_ACCESS_TOKEN=TEST-xxxx
MP_PUBLIC_KEY=TEST-xxxx
MP_WEBHOOK_SECRET=

# Frontend (Next.js)
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_MP_PUBLIC_KEY=TEST-xxxx
